<div class="container">
    <div class="oferta">
  
        <div class="row">
        <div class="col">
            <h4>Super Burger - Rodízio de Mini-hambúrger com opção de entrada.</h4>
        </div>
        </div>

        <div class="row">
        <div class="col-md-6">
            <div class="img_capa">
            <img src="/assets/ofertas/1/img1.jpg" />
            </div>

            <div class="thumbnails">
            <img src="/assets/ofertas/1/img2.jpg" />
            <img src="/assets/ofertas/1/img3.jpg" />
            <img src="/assets/ofertas/1/img4.jpg" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
            <div class="col text-center">
                <p>Por apenas</p>
            </div>
            
            </div>

            <div class="row">
            <div class="col text-center">
                <h1>R$ 29,90</h1>
            </div>
            </div>

            <div class="row">
            <div class="col text-center">
                <button type="button" class="btn btn-warning btn-lg">Adicionar ao carrinho</button>
            </div>
            </div>
            
        </div>

        </div>

    </div>
</div>