<div class="row" *ngFor="let publication of publications">
    <div class="col d-flex justify-content-center">
        <div class="card">
            <div class="card-body">
                <p class="card-text"><strong>{{publication.userName}}</strong></p>
            </div>
            <img class="card-img" [src]="publication.imageUrl"/>
            <div class="card-body">
            <p class="card-text">
                <strong>{{publication.userName}}</strong> {{publication.title}}
            </p>
    
            <hr />
            <input 
                type="text" 
                class="form-control comentario"
                placeholder="Adicione um comentário..." 
            />
            </div>
        </div>
    </div>
</div>