<div class="card" style="width: 20rem;">
    <div class="card-body">
        <div class="card-title"></div>
        <form [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group">
                <input 
                type="email" 
                class="form-control" 
                placeholder="E-mail"
                formControlName="email">
                <small *ngIf="!form.get('email').valid && form.get('email').touched" class="form-text text-danger">E-mail inválido</small>
            </div>
            <div class="form-group">
                <input 
                type="password"
                class="form-control" 
                placeholder="Senha"
                formControlName="password">
                <small *ngIf="!form.get('password').valid && form.get('password').touched" class="form-text text-danger">Senha inválida</small>
            </div>
            <button type="submit" class="btn btn-primary btn-sm btn-block">Entrar</button>
        </form>
        <hr/>
    </div>
</div>
<br/>
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <p class="card-text">
            Não tem uma conta? <a href="#" (click)="changeToRegister()" class="card-link">Cadastre-se</a>
        </p>
    </div>
</div>