<div class="container">
    <div class="ordem-compra" *ngIf="purchaseId === undefined">
        <form [formGroup]="formGroup" novalidate (ngSubmit)="makePurchase()">
        
            <h5>Sua Compra</h5>
            <hr/>
    
            <div *ngIf="cartService.showItems().length; else emptyCart">
                <div *ngFor="let item of items" class="form-row" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
                    <div class="form-group col-sm-1">
                        <img [src]="item.img.url" class="img-fluid">
                    </div>
                    <div class="form-group col-sm-6">
                        {{ item.title }}
                        <br/>
                        {{ item.description }}
                    </div>
                    <div>
                        <div class="row">
                            <div class="col">
                                <button (click)="decrementAmountOfItem(item)" type="button" class="btn btn-link">-</button>
                                {{ item.amount }}
                                <button (click)="incrementAmountOfItem(item)" type="button" class="btn btn-link">+</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-3 d-flex justify-content-end">
                        {{ item.amount * item.value | currency: 'BRL' }}
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col d-flex justify-content-end">
                        <h4>Total do pedido: {{ cartService.calculateTotalValue() | currency: 'BRL' }}</h4>
                    </div>
                </div>
            </div>
            <ng-template #emptyCart>
                <div class="form-row d-flex justify-content-center" style="background: #FAFAFA; padding: 20px; border-bottom: solid 1px #F0F0F0">
                    Seu carrinho está vazio, não perca tempo, aproveite as ofertas!
                </div>
            </ng-template>
            <br/>
    
            <h5>Dados de entrega</h5>
            <hr/>
    
            <div class="form-row">
    
                <div class="form-group col-md-6">
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Endereço" 
                    autocomplete="off"
                    formControlName="address">
                    <small *ngIf="formGroup.get('address').valid && formGroup.get('address').touched" class="form-text text-success">Ok</small>
                    <small *ngIf="!formGroup.get('address').valid && formGroup.get('address').touched" class="form-text text-danger">Endereço inválido</small>
                </div>
        
                <div class="form-group col-md-2">
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Número" 
                    autocomplete="off"
                    formControlName="addressNumber">
                    <small *ngIf="formGroup.get('addressNumber').valid && formGroup.get('addressNumber').touched" class="form-text text-success">Ok</small>
                    <small *ngIf="!formGroup.get('addressNumber').valid && formGroup.get('addressNumber').touched" class="form-text text-danger">Número inválido</small>
                </div>
        
                <div class="form-group col-md-4">
                    <input 
                    type="text" 
                    class="form-control" 
                    placeholder="Complemento" 
                    autocomplete="off"
                    formControlName="addressComplement">
                </div>
    
            </div>
            <br/>
    
            <h5>Dados de pagamento</h5>
            <hr/>
    
            <div class="form-row">
            <div class="form-group col-md-3">
                <select 
                class="form-control"
                formControlName="paymentForm">
                    <option value="">Selecione uma opção</option>
                    <option value="dinheiro">Dinheiro</option>
                    <option value="debito">Débito</option>
                </select>
                <small *ngIf="formGroup.get('paymentForm').valid && formGroup.get('paymentForm').touched" class="form-text text-success">Ok</small>
                <small *ngIf="!formGroup.get('paymentForm').valid && formGroup.get('paymentForm').touched" class="form-text text-danger">Forma de pagamento inválida</small>
            </div>
            </div>
    
            <hr/>
            <button 
            type="submit" 
            class="btn btn-primary btn-lg">
            Cofirmar compra
            </button>
            
        </form>
    </div>
    <div class="ordem-compra" *ngIf="purchaseId !== undefined">
        <app-purchase-order-success [purchaseOrderId]=purchaseId></app-purchase-order-success>
    </div>
</div>